<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>8888</string>
	<key>CFBundleDisplayName_en</key>
	<string>88888</string>
	<key>CFBundleVersion</key>
	<string>888888</string>
	<key>app_agent_id</key>
	<string>8888888</string>
	<key>app_company_info</key>
	<string>88888888</string>
	<key>app_version_code</key>
	<string>888888888</string>
	<key>CFBundleIdentifier</key>
	<string>8888888888</string>
	<key>app_baidumap_key</key>
	<string>88888888888</string>
	<key>app_server_host</key>
	<string>888888888888</string>
	<key>wx_appid</key>
	<string>8888888888888</string>
	<key>wx_app_secret</key>
	<string>88888888888888</string>
	<key>qzone_appid</key>
	<string>888888888888888</string>
	<key>qzone_key</key>
	<string>8888888888888888</string>
	<key>weibo</key>
	<string>88888888888888888</string>
	<key>weibo_secret</key>
	<string>888888888888888888</string>
</dict>
</plist>
